.heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

button {
    width: fit-content;
}

.myDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}
